<mat-toolbar color="primary">
  <span>Thrive</span>
</mat-toolbar>
<br>
<br>
<ng-container *ngIf="!showDetail">
<div class="m-1">
  <h1>B-R Projects</h1>
</div>
<div class="m-1 mat-elecation-z6">
  <mat-card>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="at">
        <th mat-header-cell *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let element"> {{element.at}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="by">
        <th mat-header-cell *matHeaderCellDef> Created By </th>
        <td mat-cell *matCellDef="let element"> {{element.by}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button (click)="showDetails()">
          <mat-icon>edit</mat-icon>
        </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card>
</div>
</ng-container>

<ng-container *ngIf="showDetail">
  <div class="m-1 right">
    <button color="primary" (click)="showDetails()" mat-raised-button>Back</button>
  </div>
  <app-detail-view></app-detail-view>
</ng-container>
